<h1>Comments for Suggestion: <%= @suggestion.title %></h1>
  
  <% if @suggestion.comments == [] %>
    <p>Be the first to enter a comment</p>
    render ''

    <%= render :partial => 'form' %>
  <% else %>
    <p>Add a comment</p>
      <%= render :partial => 'form' %>
  <% end %>


<div class="comment-list">
  <% @comments.each do |comment| %>
    <div class="comment-bar">
      <div class="clearfix">  
        
        <div class="comment-body">
          <%= comment.body %>
        </div>
        <div class="author">
          <!-- create a link to have all author's comments show here -->
          
        </div>
      </div>
    </div>
  <% end %>
</div>

