<button class="call" onclick="call();">
    Call
</button>

<!-- use an onclick action to hang up the call when the user presses the button -->
<button class="hangup" onclick="hangup();">
  Hangup
</button>

 <input type="text" id="number1" name="number1"
      value="310 804 1305"/>

<div id="log">Loading pigeons...</div>
