<div class="splash-page">
	<div class="splash-header">	
		<div class="logo">
			<p>VOX POPULI</p>
		</div>
		<p>is an idea board for employees and managers.</p>
	</div>
	<div class="box">
		<p>Please login</p>
		<%= render 'form' %>
	</div>
</div>
