.new-call {
	line-height: 2em;
	width: 500px;
	margin: 0 auto 0 auto;
}
	
div.call-title p{
	font-size: 2em;
	font-weight: bold;	
}
	
.new-call span {
	font-weight: bold;
}

div.new-call div.twilio-call {
	margin-top: 30px; 
	text-align: center;
}

div.twilio-call button {
	height: 50px;
	width: 100px;
	font-size: 20px;
	border-radius: 5px;
	color: red;
}

div.phone-input input{
	width: 200px;
	height: 25px;
	font-size: 1.5em;
	margin-top: 10px;
}
div#log {
	width: 200px;
	background-color: #222;
	color: white;
	margin: 10px auto 0 auto;
}