// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div .suggestion-bar {
	width: 650px;
	padding: 10px 0 0 10px;
	border-bottom: 1px solid black;
	
}