/*// Place all the styles related to the suggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


/* INDEX CSS */

div.clearfix div.title {
	float: left;
	margin-left: 50px;
}

div.clearfix div.header-links {
	float: right;
	margin: 23px 42px 0 0;

}


.suggestion-list {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}

div .suggestion-bar {
	width: 650px;
	padding: 10px 0 0 10px;
	border-bottom: 1px solid black;
	
}

div.vote-up {
	float: left;
	width: 60px;
	margin: 0 5px 0 0;
}

input.vote-button {
	height: 50px;
	width: 50px;
}

div.vote-count {
	float: left;
	width: 40px;
	margin: 0 10px 0 0;
	text-align: center;
}

div.suggestion-title {
	width: 550px;
	font-size: 20px;
	margin: 5px 0 5px 0;

}

div .author {
	float: right;
}



